In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\brian\Desktop\JUNSOO\Dataengineering\data\nexon_fi.csv' , encoding = 'cp949')

In [ ]:
df.drop(
    columns = 'Unnamed: 0' , inplace = True
)
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day_of_week'] = df['date'].dt.day_of_week
# 0 = 월 , 1 = 화, 2 = 수 , 3 = 목, 4 = 금 , 5 = 토

In [7]:
df

            date  close  diff   open   high    low   volume
0     2015-10-12   2150    10   2130   2150   2115    84668
1     2015-10-13   2115   -35   2160   2160   2105    14221
2     2015-10-14   2120     5   2140   2140   2115     3520
3     2015-10-15   2115    -5   2120   2120   2110    17423
4     2015-10-16   2125    10   2145   2145   2110    30122
...          ...    ...   ...    ...    ...    ...      ...
2135  2024-06-18  15520  -230  15810  15940  15340   453415
2136  2024-06-19  14560  -960  15680  15830  14330  1097025
2137  2024-06-20  14260  -300  14560  14710  14230   286409
2138  2024-06-21  14150  -110  14390  14390  14060   218854
2139  2024-06-24  14020  -130  14260  14370  13950   147224

[2140 rows x 7 columns]

In [20]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day_of_week'] = df['date'].dt.day_of_week
# 0 = 월 , 1 = 화, 2 = 수 , 3 = 목, 4 = 금 , 5 = 토

In [24]:
df

,date,close,diff,open,high,low,volume,year,month,day_of_week
0,2015-10-12,2150,10,2130,2150,2115,84668,2015,10,0
1,2015-10-13,2115,-35,2160,2160,2105,14221,2015,10,1
2,2015-10-14,2120,5,2140,2140,2115,3520,2015,10,2
3,2015-10-15,2115,-5,2120,2120,2110,17423,2015,10,3
4,2015-10-16,2125,10,2145,2145,2110,30122,2015,10,4
...,...,...,...,...,...,...,...,...,...,...
2135,2024-06-18,15520,-230,15810,15940,15340,453415,2024,6,1
2136,2024-06-19,14560,-960,15680,15830,14330,1097025,2024,6,2
2137,2024-06-20,14260,-300,14560,14710,14230,286409,2024,6,3
2138,2024-06-21,14150,-110,14390,14390,14060,218854,2024,6,4
2139,2024-06-24,14020,-130,14260,14370,13950,147224,2024,6,0